<div class="nav-scrollable">
    <nav>
        <div class="nav-item">
            <NavLink href="/LoginUser">
                <img src="assets/E.png" alt="Logo" class="logo" />
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/">
                <span class="nav-menu"></span> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/LoginAdmin">
                <span class="nav-menu"></span>Login Admin
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/EletronicosHomeUI">
                <span class="nav-menu"></span> Eletrônicos
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/MarcasUI">
                <span class="nav-menu"></span> Marcas
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/HomeUser">
                <span class="nav-menu"></span> Usuário
            </NavLink>
        </div>
    </nav>
</div>
