@page "/"

<PageTitle>Home</PageTitle>

<NavMenu />

<div class="layout">


    <h1>Conteúdo da Página</h1>
    <p>Este é um exemplo de página com navegação lateral.</p>
    <h1>Conteúdo da Página</h1>
    <p>Este é um exemplo de página com navegação lateral.</p>
    <h1>Conteúdo da Página</h1>
    <p>Este é um exemplo de página com navegação lateral.</p>
    <h1>Conteúdo da Página</h1>
    <p>Este é um exemplo de página com navegação lateral.</p>
    <h1>Conteúdo da Página</h1>
    <h1>Conteúdo da Página</h1>
    <h1>Conteúdo da Página</h1>
    <p>Este é um exemplo de página com navegação lateral.</p>
    <h1>Conteúdo da Página</h1>
    <h1>Conteúdo da Página</h1>
    <h1>Conteúdo da Página</h1>
        <h1>Conteúdo da Página</h1>
    <h1>Conteúdo da Página</h1>
    <p>Este é um exemplo de página com navegação lateral.</p>
    <p>Este é um exemplo de página com navegação lateral.</p>
    <p>Este é um exemplo de página com navegação lateral.</p>
    <p>Este é um exemplo de página com navegação lateral.</p>
    <p>Este é um exemplo de página com navegação lateral.</p>
    <p>Este é um exemplo de página com navegação lateral.</p>
    <p>Este é um exemplo de página com navegação lateral.</p>
    

</div>

<Footer />