@page "/EletronicosHomeUI"


<h3>Eletrônicos</h3>

<!-- Botões para redirecionar para as páginas do CRUD -->
<div>
    <NavLink class="btn btn-primary" href="/EletronicosCreateUI">Criar</NavLink>
    <NavLink class="btn btn-warning" href="/EletronicosUpdateUI">Editar</NavLink>
    <NavLink class="btn btn-danger" href="/EletronicosDeleteUI">Excluir</NavLink>
</div>
