<div class="nav-scrollable">
    <nav>
        <div class="nav-item">
            <NavLink class="nav-link" href="/sdsdsds">
                <img src="imagens/logo.png" alt="Logo" class="logo" />
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/">
                <span class="nav-menu"></span> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/aaaa">
                <span class="nav-menu"></span> Eletronicos
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/aaa">
                <span class="nav-menu"></span> Marcas
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/aaa">
                <span class="nav-menu"></span> Admin
            </NavLink>
        </div>


    </nav>
</div>
