/* Reset e estilo base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Layout principal da página */
.layout {
    margin-left: 250px; /* Espaço para a navegação lateral */
    padding: 2rem;
    padding-top: 50px; /* Ajuste para o topo */
    min-height: calc(100vh - 80px); /* Garante que o conteúdo ocupe o restante da altura */
    background-color: #f8f9fa; /* Cor de fundo do conteúdo */
}

/* Estilo para o título do conteúdo */
h1 {
    font-size: 2.5rem;
    color: #343a40;
    margin-bottom: 1rem;
    text-align: center;
}